<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel='stylesheet' href='/layout.css' >
    <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet"> 
    <title>Rock Scissors Paper</title>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
